Repository acm-ucr/ucr-swim-website, pull requests merged in 2024-04, with the labels that each got.

#19 Issue setup
  .github/workflows/pull-request.yaml
  README.md
  public/join/join.png
  public/waveBottom.webp
  public/waveTop.webp
  src/components/Button.jsx
  src/components/PageTitle.jsx
  src/components/Title.jsx
  src/components/home/Connected.jsx
  src/components/home/Goal.jsx
  src/components/home/JoinIcon.jsx
  src/components/home/JoinIcons.jsx
  src/components/home/Landing.jsx
  src/components/home/Practice.jsx
  src/components/home/SwimOutlet.jsx
  src/components/join/Welcome.jsx
  src/data/footerLinks.js
Labels: ready to review

#23 Mailynnguyen/swim outlet
  src/components/home/SwimOutlet.jsx
Labels: fix, home, shing

#22 Implement Practice
  src/components/home/Practice.jsx
Labels: fix, ready to review, home, shing

#25 Implement Landing.jsx
  src/components/home/Landing.jsx
Labels: fix, home, sean

#27 implement goal.jsx
  src/components/home/Goal.jsx
Labels: fix, home, sean

#30 button.jsx implemented
  src/components/Button.jsx
Labels: fix, sean

#32 Implement Connected.jsx
  src/components/home/Connected.jsx
Labels: Change Require, home, sean

#29 implemented footer.jsx
  src/components/Footer.jsx
  src/data/footerLinks.js
Labels: ready to review, general, sean

#33 I created an icon
  src/components/home/JoinIcon.jsx
Labels: Change Require, home, shing

#28 Implement Welcome.jsx
  src/app/join/Welcome.jsx
  src/app/join/page.js
  src/components/join/Welcome.jsx
Labels: Change Require, join, sean

#31 Kaushik/JoinButton
  src/components/JoinButton.jsx
Labels: Change Require, sean

#50 NavBar
  public/join/how.png
  public/join/info1.png
  public/logo.png
  src/components/NavBar.jsx
  src/data/Navigation.js
Labels: Change Require, general, sean

#55 Implemented Basic Calendar
  src/components/calendar/CalendarEvents.jsx
  src/components/calendar/CustomEvent.jsx
  src/components/calendar/CustomHeader.jsx
  src/components/calendar/CustomToolbar.jsx
  src/components/calendar/Modal.jsx
Labels: ready to review, calendar

#57 Implement Board
  src/app/boards/page.js
  src/components/board/Board.jsx
Labels: board

#54 PageTitle
  src/components/PageTitle.jsx
Labels: Change Require, sean

#60 Connected Section Updated
  src/components/board/Board.jsx
  src/components/home/Connected.jsx
  src/data/iconLinks.js
Labels: ready to review, home

#58 i added a color prop
  src/components/Button.jsx
Labels: general, Ready to Assign

#59 Info
  src/components/join/Info.jsx
Labels: join

#80 Footer Mobile
  src/components/Footer.jsx
Labels: Change Require, sean

#83 Mobile Responsiveness for Info.jsx and InfoCard.jsx
  src/components/home/Goal.jsx
  src/components/join/Info.jsx
  src/components/join/InfoCard.jsx
Labels: help wanted, sean

#81 mobile responsiveness for goal.jsx
  src/components/home/Goal.jsx
Labels: ready to review

#85 mobile responsiveness for navbar
  src/components/NavBar.jsx
Labels: ready to review, general

#86 connected responsiveness
  src/components/home/Connected.jsx
  src/components/home/JoinIcon.jsx
Labels: ready to review, home, sean

#89 Improve Mobile Responsiveness for SwimOutlet.jsx
  src/components/Button.jsx
  src/components/home/SwimOutlet.jsx
Labels: home

#90 Mobile Response for PageTitle
  src/components/PageTitle.jsx
Labels: Change Require, sean

#91 Improved landing.jsx mobile look
  src/components/Button.jsx
  src/components/NavBar.jsx
  src/components/home/Landing.jsx
Labels: Change Require, sean
