Repository acm-ucr/ucr-swim-website, pull requests merged in 2024-05, with the labels that each got.

#92 mobile responsiveness for practice
  src/components/home/Practice.jsx
Labels: Change Require, sean

#105 Implement Animation for SwimOutlet.jsx
  src/components/home/SwimOutlet.jsx
Labels: home, Animation

#107 implemented animation for info.jsx
  src/components/join/Info.jsx
Labels: join, Animation

#106 added gallery animation
  src/app/gallery/page.js
Labels: gallery, Animation

#108 Animation for Connected.jsx
  src/components/home/Connected.jsx
Labels: ready to review, Animation

#110 practice Animated
  src/components/home/Practice.jsx
Labels: ready to review, home, Animation

#109 404 Error Page
  public/fish.webp
  src/app/not-found.js
Labels: general

#112 animation for pagetitle
  package-lock.json
  src/components/PageTitle.jsx
Labels: general, Animation

#111 Implement How with Animation
  src/components/join/How.jsx
Labels: join, Animation
